{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "$": false,
    "_": false
  },
  "rules": {
    "no-console": [
      "warn"
    ],
    "indent": [
      "error",
      2
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "react/prop-types": "off",
    "no-unused-vars": ["warn", { "vars": "local" }]
  }
}
